
.container-fluid{
    min-height: 100vh;
}
#navHeader{
background-color: #ff6f61;
}

header{
    height: 6em;
}

.ingredientImages{
    width: 3em;
    height: 3em;
}

footer{
    background-color: #ff6f61;
}
.boutonHome{
    background-color: #ff6f61;
}
.ingredientImage{
    width:50px;
    height:50px;
}
